/* Whole document: */
body {
  font-family: Helvetica;
  font-size: 10pt;
  color: white;
  background-color: #000000;
}

a {
  color: white;
}

.big-img {
  max-width: 350px;
}

.img-holder {
  text-align: center;
}
